In [1]:
#Strings are sequences of character data. The string type in Python is called str.

#Let's understand by an example

# We can envelope string by single quotes('') or by double quotes ("")

print('It is an string!')

It is an string!

In [2]:
#Let's check the data type of string
type('It is an string!')

str

In [3]:
#As we can see in the above example the data type of string is str

In [4]:
#Let's assign the string to a variable

string ='It is an string!'
print(string)

It is an string!

In [5]:
#A string can also be empty
#Let's understand by the example

string =''
print(string)
type(string)

str

In [6]:
# As we can in above example, the string don't have any value but still it's type is str

In [7]:
#When any string contains itself any single or double quotes in that case we should be cautious to print it or will get error

#Let's have an example
string ='It's an example'

SyntaxError: invalid syntax (<ipython-input-7-7fdf19dbb84b>, line 4)

In [8]:
#As we can see in the above example we got an error "SyntaxError: invalid syntax" because we envelope string by single quotes
#and the string contains itself another single quotes

#So to avoid these kind of errors we have two solutions

In [9]:
#1. Envelope the string by doble quotes("") if it has itself single quotes or vice-versa

#For example
string ="It's an example"
print(string)

It's an example

In [10]:
#2. We can add back slash(\) where we have single quote or double quote 

string = 'It\'s an example'
print(string)

It's an example

In [11]:
print("This string contains a single quote (') character.")


print('This string contains a double quote (") character.')

This string contains a single quote (') character.
This string contains a double quote (") character.

In [14]:
#To break up a string over more than one line, include a backslash before each newline, and the newlines will be ignored

multi_line_string = "It's line first\
It's line two\
It's line three"
print(multi_line_string)

It's line firstIt's line twoIt's line three

In [16]:
#As you can see in the above example we used back slash to write one string in multiple line but in actuals it is one which we 
# have broken into three lines that's why there is no space between the lines after each break up line

In [17]:
#When we want to put a back slash between two strings then we have to use double backslash
print("First String\\second string")

First String\second string

In [18]:
#When you want to use tab character between an string
print("First String\tsecond strin")

First String	second strin

In [19]:
#As you can see in the above example when any string contains \t character then it put tab space between the string where it is 
#available

#What if you want to print \t into your string??
#For those kind of cases we have to add r before the string so that python can read it as raw 
raw_string = r"First String\tsecond strin"
print(raw_string)

First String\tsecond strin

In [23]:
#Adding two strings into one
string1 = "It's first string"
string2 = "It's first string"

#To add two string we can use + operator
joined_string = string1+string2
print(joined_string)

It's first stringIt's first string

In [24]:
#When we want to put an space while joining two or more than two strings we can do like below

string1 = "It's first string"
string2 = "It's first string"

joined_string = string1+' '+string2
print(joined_string)

It's first string It's first string

In [26]:
#When we want to each string in new line then we can do like below
string1 = "It's first string"
string2 = "It's first string"

joined_string = string1+'\n'+string2
print(joined_string)

It's first string
It's first string

In [29]:
# When we want to print one string multiple times then we can do like this

string ="XYZ"
print(string*4)

XYZXYZXYZXYZ

In [30]:
#How to check the length of an string??

string ="Let's check the lenth of an string"
length_s = len(string)
print(length_s)

34

In [32]:
#We will get an error while adding any integer or numeric value with string
string ="Add some numeric value to me"
string_with_value= string+10
print(string_with_value)

TypeError: Can't convert 'int' object to str implicitly

In [33]:
#As we can see we can not add any numeric value to the string 
#To achieve this first we have to convert the numeric value to string 
string ="Add some numeric value to me"
string_with_value= string+str(10)
print(string_with_value)

Add some numeric value to me10

In [37]:
#or we can use special print formatting like this:
numerica_value =12
print ("Add some numeric value to me %s" % numerica_value)

Add some numeric value to me 12

In [38]:
#Now It's to time discuss about String Indexing
#In python each characte of the string contains an index value which starts from 0
#So by the using the index number we can fetch the any value of the string which comes under the index value of 
#that particular string

x ='string'
#Let's fetch the first value of this string
print(x[0])

s

In [39]:
x ='string'
#Let's fetch the first two value of this string
print(x[:2])

st

In [42]:
x ='string'
#Let's fetch the last two value of this string
print(x[-2:])

ng

In [48]:
x ='string'
#Let's fetch the any specific value of this string it is called string slicing 
print(x[2:6])

ring

In [49]:
#When we want to fetch the whole string then we can use :
x ='string'
print(x[:])

string

In [50]:
#When you want to fetch the string which start from a particular index and can give the character second character 
#from the first position of the string untill string's  index maximum value

#for example

string = 'string'
print(string[0:len(string):3])

#So here we are trying to fetch the value of string which will start from 0 index and will continue till the length of string 
#each third value from start value from last vale

si

In [52]:
string = 'string'
print(string[0:len(string)-2:2])

sr

In [53]:
string = 'string'
print(string[0:len(string):2])

srn

In [46]:
x ='string'
print(len(x))

6

In [47]:
# As we can for the above string the length is 6 so it's index value will start from 0 to 5
#so we can put more than 5 to fetch for this string otherwise we will get an error
#Let's see

x ='string'
print(x[6])

IndexError: string index out of range